.virtual-scroll-wrap {
    width: 50%;
    margin-top: auto;
    min-width: 380px;
} 
cdk-virtual-scroll-viewport {
    height: 100vh;
}
cdk-virtual-scroll-viewport li {
    height: 100px;
    list-style: none;
    border: 1px solid #ccc;
    margin: 10px 30px;
}
cdk-virtual-scroll-viewport .thumbnail-wrap {
    width: 50px;
    display: inline-block;  
} 
cdk-virtual-scroll-viewport .thumbnail-wrap img {
    height: 65px;
    margin: 18px 14px;
}
cdk-virtual-scroll-viewport .info-wrap {
    vertical-align: top;
    margin: 18px 34px;
    display: inline-block;
}
@-webkit-keyframes ligthSpeedIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }
    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@keyframes ligthSpeedIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }
    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1;
    }
    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.lightSpeedIn {
    -webkit-animation-name: ligthSpeedIn;
    animation-name: ligthSpeedIn;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}